* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(230, 243, 230, 0.999);
  }

  h1{
    text-align: center;
    padding: 10px;
    display: flex;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    align-items: center;
    justify-content: center;
  }

  h3{
    padding: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  p{
    padding: 25px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    background-color: teal;  
  }

  .nav-links li {
    list-style: none;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    float: left;
  }
  
  
  .heading {
    text-align: center;
    font-style: oblique;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: teal;  
  }

  table{
    width: 95%;
  }

  td{
    text-align: center;
  }
